*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background: #f1f5f8;
    color: #222;
}

.booklist {
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}
.book{
    background: #fff;
    padding: 2rem ;
    border-radius: 1rem;
   text-align: center;
   position: relative;
}
.book img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
@media screen and (min-width: 768px) {
    .booklist{
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
    }
}


 
.book h2{
    font-size: 1.25rem;
    margin-top: 1rem ;
}

.span{
    position: absolute;
    top: 0;
    left: 0;
    background: #e10505;
    color: #fff;
    padding: 0.25rem 0.5rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
h1{
    text-align: center;
    margin-top: 1rem;
}